---
import Default from "@layouts/Default.astro";
import Navbar from "@components/Navbar.astro";
import Drawer from "@components/Drawer/index.astro";
import AssetPreview from "@components/AssetPreview.tsx";
import ThreeJsControls from "@components/ThreeJsControls.astro";
---

<Default>
	<main class="drawer-content flex flex-col h-screen">
		<!-- Navbar -->
		<Navbar />
		<!-- Content -->
		<div class="flex-1 w-full relative">
			<AssetPreview client:only="react" />
			<ThreeJsControls />
		</div>
	</main>
	<Drawer />
</Default>
