---
import SaveStateUploader from './SaveStateUploader.tsx'
---

<aside class="drawer-side z-50 shadow">
    <label for="app-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>

    <!-- Drawer Panel -->
    <nav class="min-h-screen w-48 overflow-y-auto bg-base-100">
        <!-- Side Title -->
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <h2 class="text-lg pl-2">Horokko Loko</h2>
            </div>
            <div class="flex-none">
                <div
                    class="tooltip tooltip-bottom tooltip-info"
                    data-tip="Input"
                >
                    <SaveStateUploader client:only="react"/>
                </div>
            </div>
        </div>
        <!-- State Select -->
        <div class="w-full px-2">
            <select class="select select-bordered w-full select-sm">
                <option disabled selected>Select Scene</option>
            </select>
        </div>
        <!-- Side Navigation -->
        <ul class="menu">
            <li><a>Item 1</a></li>
            <li>
                <a>Parent</a>
                <ul>
                    <li><a>Submenu 1</a></li>
                    <li><a>Submenu 2</a></li>
                    <li>
                        <a>Parent</a>
                        <ul>
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a>Item 3</a></li>
        </ul>
    </nav>
</aside>
