<div
    class="h-full w-40 grow-0 accent-content space-y-4 grid grid-rows-12 grid-cols-1 items-center p-2"
>
    <button class="btn btn-active btn-ghost">Reset Camera</button>
    <button class="btn btn-active btn-ghost">Hide Grid</button>
    <button class="btn btn-active btn-accent">Export</button>
</div>
