<html lang="en" data-theme="retro">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Horroko Loko</title>
	</head>
	<body class="drawer min-h-screen lg:drawer-open">
		<input id="app-drawer" type="checkbox" class="drawer-toggle" />
		<slot/>
	</body>
</html>
